/* Configuración para la página completa */
body {
  font-family: "Raleway", sans-serif;
  background-color: black;
  color: #ffffff;
}

main {
  width: 1280px;
  height: auto;
}

/* Título de la página */
header {
  height: 73px;
  text-align: center;
  opacity: 1;
}

header h1 {
  font-size: 50px;
  font-weight: 500;
  margin-top: 11.5px;
}

#slider {
  height: 727px;
  background-image: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 1;
}

/* #descripcion_iguanas {
  /* height: 727; 
  height: 348px;
} */

#descripcion_iguanas {
    /* height: 348px; */
    height: 237px;
    width: 76.5%;
    margin: 45px auto;
    padding-bottom: 21px;
    display: flow-root;
  }

/* #descripcion_iguanas article {
  width: 76.5%;
  margin: 45px auto;
  display: flow-root;
} */

#descripcion_iguanas_texto {
  font-size: 16px;
  width: 48%;
  float: left;
  padding: 31px 0;
  font-weight: 300;
}

#descripcion_iguanas_imagen {
  float: right;
  padding-left: 106px;
}

.features {
  background-color: #1e1a13;
  text-align: center;
  /* margin: 66px 0 73px auto; */
  height: 348px;
}

.feature {
  width: 30%;
  padding: 1%;
  display: inline-block;
  font-size: 25px;
}

.features h2 {
  padding: 68px;
  margin: 0px;
  font-size: 40px;
  text-align: center;
}

.feature i {
  display: block;
  padding: 0.5em;
}

#galeria {
  height: 202px;
  padding: 73px 141px 73px 133px;
}

.foto {
  display: inline-block;
}

.foto img {
  padding-left: 16px;
}

footer {
  background-color: #1e1a13;
  opacity: 0.94;
  height: 102px;
}

footer p {
  padding-top: 39px;
  text-align: center;
  font-size: 1.25em;
}
